# SERVER CONFIG
PORT=5000
NODE_ENV=production

# DATABASE
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/intern-keka

# AUTHENTICATION
JWT_SECRET=yosthsrthur_surtthaekviluergbvjqevprjr_ervqevevseqevcreevqet_jqevrgbwtb_keevbqefvy_hefvefvre

# FRONTEND URL (For CORS)
FRONTEND_URL=https://your-app.railway.app

# EMAIL SERVICE (Optional, currently bypassed)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=585
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
